.banner {
    img {
        max-width: 100%;
        height: auto;
    }

}

span {
    color: #FFB901;
    font-weight: 900;
}

label {
    font-weight: 500;
    font-size: 1.25rem;

    span {
        color: #EF8062;
        font-weight: 900;
    }
}

p {
    color: #A7A5A5;
}